/* App.css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  background-image: url('/src/mainBg.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.pick-winner-background {
  background-image: url('/src/pickWinnerBg.webp'); /* Bu yolu kendi dosyanıza göre güncelleyin */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: white !important;
  width: 100vw;
  overflow: hidden;
}
.resultPick
{
  color: wheat !important;
}

nav {
  background-color: rgba(51, 51, 51, 0.8);
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 15px;
}

nav li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

nav li a:hover {
  background-color: #111;
  border-radius: 5px;
}

h1 {
  text-align: center;
  margin-top: 50px;
  color: rgb(9, 8, 8);
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: #151414;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px;
  border-radius: 10px;
  max-width: 600px;
  margin: 110px auto;
}

.button-container {
  display: flex;
  justify-content: center;
}

.enter-button {
  background-color: green;
  color: white;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 10px;
}

.enter-button:hover {
  background-color: darkgreen;
}

.claim-button {
  background-color: blue;
  color: white;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 10px;
}

.claim-button:hover {
  background-color: darkblue;
}
